<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
    <header>
    <div class="container">
        <div class="headerSzoveg">
            <h1>MARINE AWARENESS RETREATS.</h1>
            <p>We are an organization focused on educating and raising awareness about the importance of our ocean’s ecosystems. We create life-altering experiences that literally change perceptions and perspectives. Join us for an incredible trip that will educate and forever change you.</p>    
            <button id="headerGomb">Learn more about our tips  >></button>
        </div>
    </div>
 </header>
<body ng-controller="myController">
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Book an experience</a></li>
        </ul>
    </nav>
    <div ng-repeat="card in cards1">
        <h2>{{card["title"]}}</h2>
        <div class="card">
            <img src='images/{{card["img"]}}.jpg' alt="">
            <p>{{card["content"]}}</p>
            <button class="kartyaGomb">{{card["btn"]}}</button>
        </div>
    </div>
    <div>
        <h2>Experience</h2>
        <p>Our trips provide you with an opportunity to do more. You’ll experience cultural differences, learn about animals and people, and you’ll leave with your perceptions dramatically altered. Our local partners run an unforgettable journey. Come experience these magical moments that will stay with you for a lifetime!</p>
    </div>
    <div>
        <div class="images">
            <img class="profile first" src="images/team01.jpg" alt="">
            <img class="profile second" src="images/team02.jpg" alt="">
            <img class="profile third" src="images/team03.jpg" alt="">
            <img class="profile fourth" src="images/team04.jpg" alt="">
            <img class="profile fifth" src="images/team05.jpg" alt="">
        </div>
    </div>
    <div>

    </div>
    <div ng-repeat="card in cards2">
        <img src='images/{{card["img"]}}.jpg' alt="">
        <h2>{{card["title"]}}</h2>
        <p>{{card["content"]}}</p>
    </div>

    <script>
        let app = angular.module("myApp", []);
        app.controller("myController", function($scope, $http){
            $http.get("Cards1.json").then(function(response){
                $scope.cards1 = response.data;
                console.log($scope.cards1);
            });
            $http.get("Cards2.json").then(function(response){
                $scope.cards2 = response.data;
                console.log($scope.cards2);
            });
        });
    </script>
</body>
</html>
