<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
    <header>
    <div class="container">
        <div class="headerSzoveg">
            <img class="headerIMG" src="./images/ecoSystems.png" alt="">
            <div>
                <h1>MARINE AWARENESS RETREATS.</h1>
                <p>We are an organization focused on educating and raising awareness about the importance of our ocean’s ecosystems. We create life-altering experiences that literally change perceptions and perspectives. Join us for an incredible trip that will educate and forever change you.</p>    
                <button id="headerGomb">Learn more about our tips  >></button>
            </div>
        </div>
    </div>
 </header>
<body ng-controller="myController">
    <nav class="navbar">
        <img class="navIMG" src="./images/marLogo.svg" alt="Mar logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <button>
                <li><a class="navbarSZOVEG" href="#">Book an experience</a></li>
            </button>
        </ul>
    </nav>
    <div  id="cardGallery1">
        <div class="cardOne" ng-repeat="card in cards1">
            <h2>{{card["title"]}}</h2>
            <img src='images/{{card["img"]}}.jpg' alt="">
            <p>{{card["content"]}}</p>
            <button class="kartyaGomb">{{card["btn"]}}</button>
        </div>
    </div>
    <div class="breaker">
        <h2>Experience</h2>
        <p>Our trips provide you with an opportunity to do more. You’ll experience cultural differences, learn about animals and people, and you’ll leave with your perceptions dramatically altered. Our local partners run an unforgettable journey. Come experience these magical moments that will stay with you for a lifetime!</p>
    </div>
    <div>
        <div class="images">
            <img class="profile first" src="images/team01.jpg" alt="">
            <img class="profile second" src="images/team02.jpg" alt="">
            <img class="profile third" src="images/team03.jpg" alt="">
            <img class="profile fourth" src="images/team04.jpg" alt="">
            <img class="profile fifth" src="images/team05.jpg" alt="">
        </div>
    </div>
    <div class="breaker">
        <h2>Education</h2>
        <p>Our mission is to provide education through global experiences. We will open doors to you that will leave a lasting impression on how you view our world and alter your behaviors and actions for the good of all.</p>
    </div>
    <div>
        <p>Our oceans are facing growing challenges from pollution, habitat loss, development, and climate change. The impact of plastic and micro-plastics to our seas is outrageous and devastating for many species. Learn more about what you can do to stop it.</p>
        <h3>Here are just a few chilling facts:</h3>
        <ul>
            <li>It is estimated that by 2050, oceans will carry more plastic mass than fish</li>
            <li>Plastic waste kills up to 1 million sea birds, 100,000 sea mammals, marine turtles and countless fish each year</li>
            <li>80% of all pollution in seas and oceans comes from land-based activities</li>
            <li>It's not just animals: people are consuming micro plastics too. Ewwww!</li>
            <li>A garbage truck’s worth of plastic is dumped into the ocean every single minute</li>
        </ul>
    </div>
    <div ng-repeat="card in cards2">
        <div class="cardTwo">
            <img src='images/{{card["img"]}}.jpg' alt="">
            <h2>{{card["title"]}}</h2>
            <p>{{card["content"]}}</p>
        </div>
    </div>
    <div class="breaker">
        <h2>Conservation</h2>
        <p>Our world is in trouble, and as the stewards of this planet we need to be better. Lead by example and ensure that this amazing world and all its inhabitants have a fighting chance for longevity. This journey will open your eyes and forever change you.</p>
    </div>

    <script>
        let app = angular.module("myApp", []);
        app.controller("myController", function($scope, $http){
            $http.get("Cards1.json").then(function(response){
                $scope.cards1 = response.data;
                console.log($scope.cards1);
            });
            $http.get("Cards2.json").then(function(response){
                $scope.cards2 = response.data;
                console.log($scope.cards2);
            });
        });
    </script>
</body>
</html>
