body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: flex-end; /* A tartalmat jobbra igazítja */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #555;
}

.images {
    display: grid;
    grid-template-columns: 80px 1fr 80px 1fr 100px 1fr 100px 1fr 80px 1fr 80px;
    width: 80%;
    margin: auto;
    align-items: center;
}

.profile {
    
    border-radius: 50%;
    border: 2px whitesmoke  solid;
    width: 100%;
    grid-row: 1 / 2;
}

.first {
    grid-column: 1 / 4;
    z-index: 1;
}

.second {
    grid-column: 3 / 6;
}

.third {
    grid-column: 5 / 8;
    z-index: 1;
}

.fourth {
    grid-column: 7 / 10;
}

.fifth {
    grid-column: 9 / 12;
    z-index: 1;
    
}



#headerKep{
    width: 2200px; 
    height: 250px; 
    object-fit: none;
}
header{
    background-image: url(./images/header1_lg.jpg);
    background-repeat: no-repeat;
    height: 87vh;
    background-size: cover;
    margin-top: -430px;
    
}
.container {
    position: relative;
    text-align: center;
    color: white;
    height: 90vh;
    margin-top: -430px;
  }


#headerGomb{
    color: lightskyblue;
    background-color: white;

}
.headerSzoveg{
    padding-top: 500px;
    width: 60%;
    margin: auto;
}
